.sidebar {
  width: 80px;
  background-color: white;

  top: 80px;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 100;
}

.sidebar-link {
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;


}

.sidebar-link:hover {
  background-color: rgb(228, 228, 228);
}

.sidebar-link img {
  height: 28px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 11px;
}